.bd-navbar{
padding: .75rem 0;
background-color: #353536;
}
/* .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}  */
header{
    display: block;
    font-size: 20px;
}
.flex-wrap{
    flex-wrap:wrap!important;
}
.flex-row{
        flex-direction: row!important;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
dl,ol,ul{
    margin-top: 0;
    margin-bottom: 1rem;
}
ol,ul{
    padding-left: 2rem;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

