html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 3000px;
    background: linear-gradient(0deg, #666ab9, #383d95,#0f2166, #040d30 90%) no-repeat #666ab9;
    min-height: 100%;}
#clouds {
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 360px;
    width: 100%;
    overflow-x: hidden;
}
#clouds div {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    left: 0;
    bottom: 0;
}
#cloud1	{ 
	width: 3185px; 
	height: 355px; 
	background-image: url(https://merexcursion.com/stars-and-clouds-bg/images/cloud1.png);
	background-position: center;
	background-repeat: repeat-x;
    filter:Alpha(opacity=30);
    opacity: 0.3;
	animation: animatedBackground 100s linear infinite;
}
#cloud2	{ 
	width: 2950px; 
	height: 290px; 
	background-image: url(https://merexcursion.com/stars-and-clouds-bg/images/cloud2.png);
	background-position: center;
	background-repeat: repeat-x;
    filter:Alpha(opacity=50);
    opacity: 0.5;
	animation: animatedBackground 85s linear infinite;
}
#cloud3	{ 
	width: 3075px; 
	height: 207px; 
	background-image: url(https://merexcursion.com/stars-and-clouds-bg/images/cloud3.png);
	background-position: center;
	background-repeat: repeat-x;
    filter:Alpha(opacity=70);
    opacity: 0.7;
	animation: animatedBackground 60s linear infinite;
}

  @keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@keyframes changeGradientAnimation {
    0% {
    background-position: 0%;
    }
    100% {
    background-position: 400%;
    }
}

.site-links li[data-v-9b59b55a],.social-links svg[data-v-9b59b55a] {
    display: inline-block;
    padding-right: 15px
}
.list-item[data-v-9b59b55a] {
    -webkit-transition: all 1s;
    transition: all 1s
}

.list-enter[data-v-9b59b55a],.list-leave-to[data-v-9b59b55a] {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
}

.list-leave-active[data-v-9b59b55a] {
    position: absolute
}
nav[data-v-9b59b55a] {
    background:#141618;
    color: #fff;
    padding: 15px 8vmin 15px
}

a[data-v-9b59b55a],a[data-v-9b59b55a]:active,a[data-v-9b59b55a]:visited {
    text-decoration: none;
    color: #fff
}
.logo[data-v-9b59b55a] {
    text-transform: uppercase;
    font-size: 25px;
    display: inline
}

ul.site-links[data-v-9b59b55a] {
    float: right
}
a[data-v-6150acad],a[data-v-6150acad]:active,a[data-v-6150acad]:visited {
    color: #fff
}
a[data-v-6150acad]:hover{
    color: crimson;
}

[data-v-6150acad],[data-v-6150acad]:after,[data-v-6150acad]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}
li[data-v-6150acad],p[data-v-6150acad] {
    color: #b5b3b3;
    font-size: 18px;
    font-display: swap
}

li a[data-v-6150acad],p a[data-v-6150acad] {
    font-weight: 600;
    color: #fff
}
ul.site-links[data-v-6150acad] {
    font-family: Gotham XNarrow A,Gotham XNarrow B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-weight: 500;
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 3px;
    opacity: .8
}

.site-links li[data-v-6150acad],.social-links svg[data-v-6150acad] {
    display: inline-block;
    padding-right: 15px
}
.list-item[data-v-6150acad] {
    -webkit-transition: all 1s;
    transition: all 1s
}

.list-enter[data-v-6150acad],.list-leave-to[data-v-6150acad] {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
}

.list-leave-active[data-v-6150acad] {
    position: absolute
}
a[data-v-6150acad],a[data-v-6150acad]:active,a[data-v-6150acad]:visited {
    text-decoration: none;
    color: #b5b3b3;
    font-weight: 500!important
}

a[data-v-5543664c],a[data-v-5543664c]:active,a[data-v-5543664c]:visited {
    text-decoration: none;
    color: #fff
}

[data-v-5543664c],[data-v-5543664c]:after,[data-v-5543664c]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}
.logo[data-v-5543664c],h1[data-v-5543664c],h2[data-v-5543664c],h3[data-v-5543664c],h4[data-v-5543664c] {
    font-family: Gotham XNarrow A,Gotham XNarrow B,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    color: #fff
}

li[data-v-5543664c],p[data-v-5543664c] {
    color: #b5b3b3;
    font-size: 18px;
    font-display: swap
}

li a[data-v-5543664c],p a[data-v-5543664c] {
    font-weight: 600;
    color: #fff
}
